<!DOCTYPE html>
<html>
	<head>
		<title>8bit Emulator</title>
		<meta charset="UTF-8" />
		<!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
		<!-- <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    /> -->
		<!-- <meta
      http-equiv="Content-Security-Policy"
      content="style-src 'self' 'unsafe-inline';"
    /> -->
		<!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self';font-src fonts.gstatic.com;style-src 'self' fonts.googleapis.com"
    /> -->
		<style>
			body {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				margin: 0;
			}
		</style>
	</head>
	<body></body>
</html>
